<div class="grid justify-content-end p-3">
    <div class="flex justify-content-center col-12">
        <h1 class="p-3">Login</h1>
    </div>
    <div class="col-12">
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input type="password" matInput />
        </mat-form-field>
    </div>
    <div class="flex flex-column  justify-content-end col-3 gap-3">
        <button routerLink="/dashboard" mat-flat-button color="primary" type="button">
            Sign In
        </button>
        <a class="text-center" mat-flat-button routerLink="/auth/register" target="_blank">Are you already
            registered?</a>
    </div>
</div>