<mat-toolbar class="justify-content-between" color="primary">
    <div class="flex flex-row justify-content-end align-items-center">
        <button mat-icon-button class="example-icon" aria-label="Menu button" (click)="drawer?.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span appTitulos>Platform Administration</span>
        <span class="example-spacer"></span>
    </div>
    <div class="flex flex-row justify-content-end align-items-center gap-2">
        <mat-icon>person</mat-icon>
        <p>{{(authUser$ | async)?.nombre}} {{(authUser$ | async)?.apellido}}</p>
    </div>
</mat-toolbar>