<h1 mat-dialog-title>
    {{editingCourse ?
    'Editing course':
    'Creating course'}}
</h1>
<div mat-dialog-content>
    <form [formGroup]="courseForm" class="grid">

        <div class="col-12">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Subject id</mat-label>
                <input formControlName="subjectId" matInput name="subjectId" />
                <mat-error *ngFor="let error of courseForm.get('subjectId')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Initial Date</mat-label>
                <input formControlName="initialDate" matInput [matDatepicker]="picker" name="initialDate" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngFor="let error of courseForm.get('initialDate')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Finalization Date</mat-label>
                <input formControlName="endDate" matInput [matDatepicker]="picker2" name="endDate" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngFor="let error of courseForm.get('endDate')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>



    </form>
</div>
<div class="flex justify-content-end" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>