<button routerLink="home" mat-button class="menu-button w-full">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<button routerLink="students" mat-button class="menu-button w-full">
    <mat-icon>school</mat-icon>
    <span>Students</span>
</button>
<button routerLink="courses" mat-button class="menu-button w-full">
    <mat-icon>groups</mat-icon>
    <span>Courses</span>
</button>
<button *ngIf="role$|async" routerLink="users" mat-button class="menu-button w-full">
    <mat-icon>person</mat-icon>
    <span>Users</span>
</button>
<button routerLink="interactions" mat-button class="menu-button w-full">
    <mat-icon>table_view</mat-icon>
    <span>Interactions</span>
</button>
<button *ngIf="role$|async" routerLink="subjects" mat-button class="menu-button w-full">
    <mat-icon>menu_book</mat-icon>
    <span>Subjects</span>
</button>

<mat-divider></mat-divider>

<button (click)="logout()" mat-button class="menu-button w-full">
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
</button>