<form class="grid justify-content-end p-3" [formGroup]="registerForm">
    <div class="flex justify-content-center col-12">
        <h1 class="p-3">Register</h1>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput name="name" />
            <mat-error *ngFor="let error of registerForm.get('name')?.errors | keyvalue">
                {{ error | controlErrorMessages }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Surname</mat-label>
            <input formControlName="surname" name="surname" type="text" matInput />
            <mat-error *ngFor="let error of registerForm.get('surname')?.errors | keyvalue">
                {{ error | controlErrorMessages }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" name="email" matInput type="email" />
            <mat-error *ngFor="let error of registerForm.get('email')?.errors | keyvalue">
                {{ error | controlErrorMessages }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" name="password" type="password" matInput />
            <mat-error *ngFor="let error of registerForm.get('password')?.errors | keyvalue">
                {{ error | controlErrorMessages }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" name="confirmPassword" type="password" matInput />
            <mat-error *ngFor="let error of registerForm.get('confirmPassword')?.errors | keyvalue">
                {{ error | controlErrorMessages }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="flex flex-column  justify-content-end col-3 gap-3">
        <button (click)="register()" mat-flat-button color="primary" type="button">
            Sign Up
        </button>
        <a class="text-center" mat-flat-button routerLink="/auth/login" target="_blank">Have you already an
            account?</a>
    </div>
</form>